h1{
    display: inline;
}
h2{
    display: inline;
}
h3{
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: 1s;
    overflow: hidden;
}
div{
    display: flex;
}
button{
    width: 10vh;
    height: 10vh;
    border-radius: 50px;
    transition: 5s;
}
button:hover{
    width: 5vh;
    height: 5vh;
    border-radius: 10px;
}
.a{
    width: 100px;
    text-align: justify;
    text-justify: inter-word;
}
p{
    display:block;  
    width: 50px;
    height: 50px;
    background-color: aqua;
    text-align: center;
    text-justify: center;
    animation: randomimpact 15s infinite;
}
h3:hover{
    letter-spacing: 20px;
    color: aqua;
}
@keyframes randomimpact{
    0%{
        rotate: 0rad;
        translate: 0 0;
        background-color: aqua;
    }
    25%{
        translate: 50vh 0vh;
        background-color: pink;
    }
    50%{
        translate: 50vh 50vh;
        background-color: coral;
    }
    75%{
        translate: 0 50vh;
        background-color:darkseagreen;
    }
    100%{
        translate: 0 0;
        rotate: 360rad;
        background-color: aqua;
    }
}
